<script defer src="/login.js"></script>
<form class="loginForm" method="POST" action="/login">
  <input type="text" name="name" required placeholder="Введите имя">
  <input type="password" name="password" required placeholder="Введите пароль">
  <button type="submit">Войти</button>
</form>
