<script defer src="/login.js"></script>
<form name="loginForm" method="POST" action="/login">
  <input type="email" name="email" required placeholder="Введите email">
  <input type="password" name="password" required placeholder="Введите пароль">
  <button type="submit">Войти</button>
</form>
