<script defer src="/registration.js"></script>
<form name="registrationForm" method="POST" action="/registration">
  <input type="text" name="name" required placeholder="Введите имя">
  <input type="password" name="password" required placeholder="Введите пароль">
  <input type="email" name="email" required placeholder="Введите email">
  <button type="submit">Зарегистрировать</button>
</form>
